// // Project fonts
// $main-font-family = "Gotham"
// $main-font-base-path = "../fonts/"
// $fonts-formats = woff

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-Book",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 400,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-BookItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 400,
//     style: italic
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-Medium",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 600,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-MediumItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 600,
//     style: italic
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-Bold",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 700,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-BoldItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 700,
//     style: italic
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-Black",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 900,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "Gotham-BlackItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 900,
//     style: italic
// )

// @font-face 
//     font-family: 'Gotham'
//     font-weight: 400
//     font-style: normal
//     font-display: swap
//     src: url('https://new.faberlic.com/medias/Gotham-Book.woff?context=bWFzdGVyfHJvb3R8NDU2Njh8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfHN5cy1tYXN0ZXIvcm9vdC9oOWYvaDk2L2gwMC85MDEyMjA2MzM4MDc4L0dvdGhhbS1Cb29rLndvZmZ8M2MwOGU2OWJlNjg4ZDA4ODg2YzA4YjIzOGVjMmJjMjY2NzMwNzJkYjg1OWIxODRlMmZkN2E2Nzc4NDRmZDZiNQ') format('woff'),
//     url('https://new.faberlic.com/medias/Gotham-Book.ttf?context=bWFzdGVyfHJvb3R8MTE2ODA0fGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbXxzeXMtbWFzdGVyL3Jvb3QvaDI2L2g5MC9oMDAvOTAxMjIwNjUwMTkxOC9Hb3RoYW0tQm9vay50dGZ8YjU2ZWM0MWIzMzlmNjg5MjVkZWJlOTM5MmM4Y2MwN2NmZGZmNjA5NDY2MTY0YzMyNGMzMGE4OWEyNzc5ODYzYg') format('truetype'),
//     url('https://new.faberlic.com/medias/Gotham-Book.otf?context=bWFzdGVyfHJvb3R8OTkzNjR8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfHN5cy1tYXN0ZXIvcm9vdC9oNWUvaDFlL2gwMC85MDEyMTg0MDg4NjA2L0dvdGhhbS1Cb29rLm90ZnwzZjY0OTlmMWVkYjAxNWYzZGRjZjE0MDdiYzJjYmUwZTUyNTdiYzNiYzM5OGI2MmU1NzljOWQ3ZDhiYzVmNzBi') format('opentype')

// @font-face 
//     font-family: 'Gotham'
//     font-weight: 400
//     font-style: italic
    
//     font-display: swap
//     src: url('https://new.faberlic.com/medias/Gotham-BookItalic.woff?context=bWFzdGVyfHJvb3R8NDk3MzJ8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfHN5cy1tYXN0ZXIvcm9vdC9oOTYvaDE1L2gwMC85MDEyMTM5MjYxOTgyL0dvdGhhbS1Cb29rSXRhbGljLndvZmZ8ZTIyNWM0MGZmMDhjNmY3ZDNhZTRiNTI0Mzg3MGYzYThmNWFlNThkM2NhN2UxNjk1YWUzMDE2ZDk0YWFjY2VhMA') format('woff'),
//     url('https://new.faberlic.com/medias/Gotham-BookItalic.ttf?context=bWFzdGVyfHJvb3R8MTI1MDc2fGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbXxzeXMtbWFzdGVyL3Jvb3QvaGI4L2g4Yi9oMDAvOTAxMjIwNjY5ODUyNi9Hb3RoYW0tQm9va0l0YWxpYy50dGZ8NDU3Njc4YTc3YWEyZGI3ZTAwZjdlOTFhNjI5NGY5MTZhNjI2NjM0ZmE5NjBiZTM3ZWFkMTFiNTkyMTg0Yjk3Mg') format('truetype')

// @font-face 
//     font-family: 'Gotham'
//     font-weight: 600
//     font-style: normal
    
//     font-display: swap
//     src: url('https://new.faberlic.com/medias/Gotham-Medium.woff?context=bWFzdGVyfHJvb3R8NDU3MDh8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfHN5cy1tYXN0ZXIvcm9vdC9oNWYvaGFkL2gwMC85MDEyMjA5NTE2NTc0L0dvdGhhbS1NZWRpdW0ud29mZnw2ZTk0ZGRmYTdlYWM3ZTExMzY0ODhkNjczM2E3YWZlMTdhZjYwNTYyNzI1ODk0YjI4NTA2YzJiODUxMzZlODg5') format('woff'),
//     url('https://new.faberlic.com/medias/Gotham-Medium.ttf?context=bWFzdGVyfHJvb3R8MTE2NTE2fGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbXxzeXMtbWFzdGVyL3Jvb3QvaGFlL2hiYi9oMDAvOTAxMjIwOTk3NTMyNi9Hb3RoYW0tTWVkaXVtLnR0Znw5ZmI1MWM1MTYyNzdiM2Y4MmJlMjJlNTJiOGNmMTM2YzJmYTY5YmVkNzViYTg4ZWM2MzZjYjgyM2M3M2JmZjk3') format('truetype'),
//     url('https://new.faberlic.com/medias/Gotham-Medium.otf?context=bWFzdGVyfHJvb3R8MTAyOTAwfGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbXxzeXMtbWFzdGVyL3Jvb3QvaDU2L2g3Ny9oMDAvOTAxMjE4MzU2NDMxOC9Hb3RoYW0tTWVkaXVtLm90Znw2ODI0OGFhOTdmY2Q5NmJkNzIzOGRkN2I3ZDQ3Yzc2NDI5MGViYWM3ODk4OTBjZGEwZmUxNmJjMmIxZGU5NGE2') format('opentype')

// @font-face 
//     font-family: 'Gotham'
//     font-weight: 600
//     font-style: italic

//     font-display: swap
//     src: url('https://new.faberlic.com/medias/Gotham-MediumItalic.woff?context=bWFzdGVyfHJvb3R8NDk0OTJ8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfHN5cy1tYXN0ZXIvcm9vdC9oMDQvaDMzL2gwMC85MDEyMjA3MTkwMDQ2L0dvdGhhbS1NZWRpdW1JdGFsaWMud29mZnw3M2YxNjc1ZjZhNzQ2ZWE4NzNmM2NkZWU3NzJlM2M1NmUzNjE1YWU2ZjllMDM4OTA5NDVkZTI4NTFkOTUzNTU3') format('woff'),
//     url('https://new.faberlic.com/medias/Gotham-MediumItalic.ttf?context=bWFzdGVyfHJvb3R8MTI0NTM2fGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbXxzeXMtbWFzdGVyL3Jvb3QvaDllL2gyYy9oMDAvOTAxMjIwNzM1Mzg4Ni9Hb3RoYW0tTWVkaXVtSXRhbGljLnR0ZnxhNGIwZjE3NzdmNjBjYjBjMDU2N2MwMzQ3ZDVjYTM0NzAwYTFiY2M2OGU3MjQ5NWNhZjZlYmFlMTIwZTRmMTE2') format('truetype')

// @font-face 
//     font-family: 'Gotham'
//     font-weight: 700
//     font-style: normal

//     font-display: swap
//     src: url('https://new.faberlic.com/medias/Gotham-Bold.woff?context=bWFzdGVyfHJvb3R8NDMwNTZ8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfHN5cy1tYXN0ZXIvcm9vdC9oMzgvaDI2L2gwMC85MDEyMjA3NTE3NzI2L0dvdGhhbS1Cb2xkLndvZmZ8NjY0YjViMjA4ZmQ3MDk5NzlmZjE1MTY2NWM0MTkxYjk0MzRlNzJiM2UyMDU3ZGViZGE1ZjYwNTNhYzg3OGU2OQ') format('woff'),
//     url('https://new.faberlic.com/medias/Gotham-Bold.ttf?context=bWFzdGVyfHJvb3R8MTE0NTY0fGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbXxzeXMtbWFzdGVyL3Jvb3QvaDBlL2gyMi9oMDAvOTAxMjIwNzY4MTU2Ni9Hb3RoYW0tQm9sZC50dGZ8NDFlMzJhYWUxOGE2ZDA2OTVlNTAzODFmMjdjYWJhZTlmODdhMDllMjg4Y2RhODM1MGM0NTg0YzgyNzE1ODM4Ng') format('truetype')

// @font-face 
//     font-family: 'Gotham'
//     font-weight: 700
//     font-style: italic

//     font-display: swap
//     src: url('https://new.faberlic.com/medias/Gotham-BoldItalic.woff?context=bWFzdGVyfHJvb3R8NDYxNDR8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfHN5cy1tYXN0ZXIvcm9vdC9oNjkvaDMyL2gwMC85MDEyMjA4MDA5MjQ2L0dvdGhhbS1Cb2xkSXRhbGljLndvZmZ8OTIxZDA5NDZlYjVlMzhkYzhkZTQyOWY4NTkwMTA0YWM2YTlmYWQ0MTljYWNmOWZhYjhiZTlhNWViMjQwOWI1Mw') format('woff'),
//     url('https://new.faberlic.com/medias/Gotham-BoldItalic.ttf?context=bWFzdGVyfHJvb3R8MTIyMDY0fGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbXxzeXMtbWFzdGVyL3Jvb3QvaDkyL2gzNi9oMDAvOTAxMjIwODE3MzA4Ni9Hb3RoYW0tQm9sZEl0YWxpYy50dGZ8NDE3MmI1MGNkNjMwMjgxNDEzNTdlY2Y3ZWU4NGUyNGZiMWQ0ZWRhNjU2MWZkZjE1MWVhODFhY2I5ZjQwNzM5Zg') format('truetype')

// @font-face 
//     font-family: 'Gotham'
//     font-weight: 900
//     font-style: normal

//     font-display: swap
//     src: url('https://new.faberlic.com/medias/Gotham-Black.woff?context=bWFzdGVyfHJvb3R8NDYyNDB8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfHN5cy1tYXN0ZXIvcm9vdC9oYTEvaDNjL2gwMC85MDEyMjA4MzA0MTU4L0dvdGhhbS1CbGFjay53b2ZmfDJhNjFmMjcyYzViM2ZmMmUzMTJjMjRhYmNmODI0MWIyYTA1NGY5NzE5NTkyMTMwZGM0YzM0NmE5YmVhYTgxZjA') format('woff'),
//     url('https://new.faberlic.com/medias/Gotham-Black.ttf?context=bWFzdGVyfHJvb3R8MTE2OTYwfGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbXxzeXMtbWFzdGVyL3Jvb3QvaDcxL2g0My9oMDAvOTAxMjIwODUwMDc2Ni9Hb3RoYW0tQmxhY2sudHRmfGM3N2Q2NTAyMjc4ZjZkZTViYzYyNzMyOGMzZjE1OWE3NjBhZDJlYTUxMTI4MjZiMjg3ZTUxNTM1MjljN2Q1NTA') format('truetype')

// @font-face 
//     font-family: 'Gotham'
//     font-weight: 900
//     font-style: italic

//     font-display: swap
//     src: url('https://new.faberlic.com/medias/Gotham-BlackItalic.woff?context=bWFzdGVyfHJvb3R8NTAxMjB8YXBwbGljYXRpb24vb2N0ZXQtc3RyZWFtfHN5cy1tYXN0ZXIvcm9vdC9oODcvaDQ3L2gwMC85MDEyMjA4NjY0NjA2L0dvdGhhbS1CbGFja0l0YWxpYy53b2ZmfDg5MWVlOGQ0OTk3MjkyZDNmYTMxMDE1OGFiMjI1NjUwMTQwNDJhNDVlYTQ5OWViM2U2Zjg1N2M4OGRmYjI1Nzk') format('woff'),
//     url('https://new.faberlic.com/medias/Gotham-BlackItalic.ttf?context=bWFzdGVyfHJvb3R8MTI2NzE2fGFwcGxpY2F0aW9uL29jdGV0LXN0cmVhbXxzeXMtbWFzdGVyL3Jvb3QvaGVlL2g0ZC9oMDAvOTAxMjIwODgyODQ0Ni9Hb3RoYW0tQmxhY2tJdGFsaWMudHRmfDIwZTg4MTY0YzAwODI5Mjk3ZDViZDY0NjdjOTJjYmQyMmUzYzIyMjg5MmY3ZDQxNWYyMzE2NDZiMjNkNzg3OGU') format('truetype')