.dm-site
    width 100%

.dm-site-wrap
    width 100%
    margin-left auto
    margin-right auto

    @media screen and (max-width: 768px)
        padding 0

.dm-site-wrap__inner
    width 100%
    color #000

    @media all and (min-width: 1440px)
        font-size 16px

    @media screen and (max-width: 1439px) 
        font-size ( 1130px/1370*16 )

    @media screen and (max-width: 1199px) 
        font-size ( 1007px/1370*16 )

    @media screen and (max-width: 1007px) 
        font-size ( 100vw / 87.50 )

    @media screen and (max-width: 768px)
        font-size ( 100vw / 45 )

.dm-site-wrap2
    width 100%
    margin 0 auto
    font-size ( 100vw / 720 * 16 )

    @media screen and (min-width: 769px)
        font-size ( 96vw / 1370 * 16 )
        padding 0 16px
    
    @media screen and (min-width: 1007px)
        font-size ( 974px / 1370 * 16 )
        max-width 1006px
    
    @media screen and (min-width: 1200px)
        font-size ( 1130px / 1370 * 16 )
        max-width 1162px
    
    @media screen and (min-width: 1440px)
        font-size 16px
        max-width 1402px

.dm-site-wrap__inner2
    width 100%

.dm-site-wrap3
    font-size ( 100vw / 45 )
    width 100%

    @media screen and (min-width: 769px)
        font-size ( 100vw / 108 )

.dm-site-wrap__inner3
    width 100%


.dm-site-wrap4
    width 100%
    margin 0 auto
    font-size ( 100vw / 45 )

    @media screen and (min-width: 769px)
        font-size ( 96vw / 1370 * 16 )
        // padding 0 16px
    
    @media screen and (min-width: 1007px)
        font-size ( 974px / 1370 * 16 )
        // max-width 1006px
    
    @media screen and (min-width: 1200px)
        font-size ( 1130px / 1370 * 16 )
        // max-width 1162px
    
    @media screen and (min-width: 1440px)
        font-size 16px
        // max-width 1402px

.dm-site-wrap__inner4
    width 100%

.dm-site-wrap section > div.contenu
    padding 0

.oti-content-typography .dm-site-wrap a
    font-size unset
    line-height unset
    color unset