size()
	if length(arguments) == 1
		width: arguments[0]
		height: arguments[0]
	else
		width: arguments[0]
		height: arguments[1]

focus(color)
	border-color color
	box-shadow 0 0 3px 1px rgba(color, 0.45)
	outline none

// Миксин подключения шрифтов
font-face(family, file-name, base-path = "../fonts", weight = false, style = false, formats = eot woff2 woff truetype svg, svg-font-name = false)
	@font-face
		font-family family

		if weight
			font-weight weight

		if style
			font-style style

		fonts = ()

		if woff2 in formats
			push(fonts, 'url("' +(base-path+file-name+".woff2") + '") format("woff2")')

		if woff in formats
			push(fonts, 'url("' +(base-path+file-name+".woff") + '") format("woff")')

		src:
			unquote(join(", ", fonts))