.dm-hotel
    .dm-hotel__desc
        .dm-hotel__desc__row
            .dm-hotel__desc__location Кемер

        .dm-hotel__desc__row
            .dm-hotel__desc__stars
                .dm-hotel__desc__star
                .dm-hotel__desc__star
                .dm-hotel__desc__star
                .dm-hotel__desc__star
                .dm-hotel__desc__star
        .dm-hotel__desc__row
            .dm-hotel__desc__title Maxx Royal Kemer Resort
        
        .dm-hotel__desc__row
            .dm-hotel__desc__text
                p Сьюты, где объединены комфорт и&nbsp;роскошный интерьер, и&nbsp;виллы, завораживающие комплексом эксклюзивных услуг... В&nbsp;комфортабельных и&nbsp;элегантных номерах Maxx Royal Kemer Resort вас ждет незабываемый отдых!
        .dm-hotel__desc__row.dm-hotel__desc__row--btn
            a(href="#" target="_blank").dm-hotel__desc__btn Выбрать виллу

        .dm-hotel__desc__row.dm-hotel__desc__row--trip
            .dm-hotel__desc__trip
                .dm-hotel__desc__trip__img
                .dm-hotel__desc__trip__amount 4.5
                .dm-hotel__desc__trip__stars
                    .dm-hotel__desc__trip__star
                    .dm-hotel__desc__trip__star
                    .dm-hotel__desc__trip__star
                    .dm-hotel__desc__trip__star
                    .dm-hotel__desc__trip__star.dm-hotel__desc__trip__star--half

                .dm-hotel__desc__trip__count 3 622 отзыва
                .dm-hotel__desc__trip__more
                    a(href="#" target="_blank") Читать все
                    
    .dm-hotel__video(data-video="723670109")
        .dm-hotel__video__poster