//- extends ../layouts/coral

//- block variables
//-     - const title = "Coral"

//- block content
//-     include ../../blocks/components/intro/intro 

//- block scripts
//-     script(src="../js/main_coral.js")

extends ../layouts/coral

block variables
    - const title = "Coral"

block content
    include ../../blocks/coral

block scripts
    