@import "helpers/variables" // Переменные Stylus
@import "helpers/root" // Переменные CSS
@import "helpers/mixins" // Миксины
@import "helpers/functions" // Функция перевода пикселей в rem
@import "layout/fonts" // Шрифты
@import "vendor/libs" // Файлы библеотек и др зависимости
@import "layout/general" // Основные стили сайта
// Импорт стилей компонентов
@import "../blocks/components/components"
// Импорт стилей блоков (header, footer etc.)
@import "../blocks/modules/modules"