.reset {
    position: static;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    background: none;
  }
  .bbox,
  .bbox * {
    box-sizing: border-box;
  }
  .interactive {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .interactive:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  .abs100x100 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .centering {
    display: table !important;
    width: 100%;
    height: 100%;
  }
  .centering > *:first-child {
    width: 100%;
    height: 100%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .centering > *:first-child > *:first-child {
    display: inline-block;
  }
  @media screen and (max-width: 768px) {
    .hidden-on-mobile {
      display: none !important;
    }
  }
  @media screen and (min-width: 769px) {
    .hidden-on-desktop {
      display: none !important;
    }
  }
  .rur:not(:empty):after {
    content: ' \20BD ';
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dm-site-wrap,
  .dm-site-wrap * {
    box-sizing: border-box;
  }
  .dm-site-wrap section + section {
    margin-top: 5%;
  }
  @media screen and (max-width: 768px) {
    .dm-site-wrap section + section {
      margin-top: 10%;
    }
  }
  .dm-site-wrap section > .contenu {
    max-width: 1370px;
    margin: auto;
    padding: 1rem;
    font-size: 1.1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 1440px) {
    .dm-site-wrap section > .contenu {
      max-width: 1130px;
    }
  }
  @media screen and (min-width: 1440px) {
    .dm-site-wrap section > .contenu {
      font-size: 15.84px;
    }
  }
  .dm-site-wrap section > .contenu > * {
    max-width: 100%;
  }
  @media screen and (max-width: 768px) {
    .dm-site-wrap section > .contenu {
      font-size: 1.2em;
    }
  }
  @media screen and (max-width: 576px) {
    .dm-site-wrap section > .contenu {
      font-size: 1.3em;
    }
  }
  .dm-site-wrap section > .contenu h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 3em;
    max-width: 20em;
  }
  @media screen and (max-width: 768px) {
    .dm-site-wrap section > .contenu h2 {
      font-size: 2.6em;
      padding: 0 0.5em;
    }
  }
  @media screen and (max-width: 576px) {
    .dm-site-wrap section > .contenu h2 {
      font-size: 2em;
    }
  }
  .dm-site-wrap section > .contenu h3 {
    text-align: center;
    font-size: 2em;
  }
  .dm-site-wrap section > .contenu ul li:before,
  .dm-site-wrap section > .contenu ul li:after {
    display: none;
  }
  .dm-site-wrap section > .contenu .buttonlike {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    font-size: inherit;
    height: 2.6em;
    padding: 0 2em;
    border: 0;
    text-decoration: none;
    border-radius: 0.5em;
  }
  .dm-site-wrap section > .contenu .buttonlike:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  .dm-site-wrap section > .contenu .buttonlike.transparent {
    color: inherit;
    border: 1px solid currentColor;
  }
  .dm-site-wrap section > .contenu .buttonlike.yellow {
    color: white;
    background-color: #F0AB00;
  }
  .dm-site-wrap section > .contenu .buttonlike.blue {
    color: white;
    background-color: #0093D0;
  }
  .dm-site-wrap section > .contenu .buttonlike.deepblue {
    color: white;
    background-color: #0F2855;
  }
  .dm-site-wrap section > .contenu .buttonlike.red {
    color: white;
    background-color: #D7232A;
  }
  body .contentLayout-BaseContainer {
    max-width: 100%;
    overflow: hidden;
  }
  body .contentLayout-BaseContainer .notcritical {
    padding: 0!important;
  }
  body .contentLayout-BaseContainer .notcritical > .container {
    margin: 0!important;
    padding: 0!important;
    max-width: none!important;
  }
  body .contentLayout-BaseContainer .notcritical > .container .widgetcontainer {
    margin-bottom: 0;
  }
  body .contentLayout-BaseContainer .notcritical > .container > .row:not(:nth-child(2)) {
    display: none;
  }
  body > div.contentLayout-BaseContainer > div.notcritical > div > div:nth-child(2) > div.col-sm-12.order-1.col-md-9.rightcol > h1 {
    display: none;
  }
  body > div.contentLayout-BaseContainer > div.notcritical > div > div:nth-child(2) > div.col-sm-12.order-1.col-md-9.rightcol > h1{
    display: none;
  }