include ../block-img-text/block-img-text
section.dm-section--intro
	+block-img-text({
		title: '',
		text: '',
		class_suffix: '--intro',
		class_wrap: 'dm-intro',
		class_img: 'dm-intro__img',
		class_desc: 'dm-intro__desc',
		class_title: 'dm-intro__title',
		class_text: 'dm-intro__text',
		img_lg: './img/content/sunmar/intro-lg.jpg',
		img_sm: './img/content/sunmar/intro-sm.jpg',
	})