section.dm-section--contact
    .dm-contant
        .dm-contant__title Удобнее по телефону?
        .dm-contant__number #[a(href="tel:+74952321206") +7 (495) 232 12 06]
        .dm-contant__note По заявкам, забронированным онлайн на сайте #[a(href="https://sunmar.ru", target="_blank") Sunmar.ru]