.dm-contact-2
    text-align center
    margin-bottom em(60)

    @media screen and (min-width: 769px)
        margin-bottom em(100)
    
    &__title
        font-size: em(50);
        line-height: (60/50em);
        text-align: center;
        font-weight: 500;
        color: #000;
        margin-bottom (40/50em)
        padding 0 em(40)
        
    &__number
        margin-bottom em(20)
        a
            font-family 'Arial'
            font-style normal
            font-weight 900
            font-size em(65) !important
            line-height (92/65em)
            color #006FBB !important
            text-align center
            cursor pointer

    &__note
        font-family 'Arial'
        font-style normal
        font-weight: 400;
        font-size em(24)
        line-height (28/24em)

        a
            color #000
            text-decoration underline

            &:hover
                text-decoration none