//- добавляем нужные блоки



.dm-site-wrap2
	.dm-site-wrap__inner2
		include components/share/share-sunmar

link(rel="stylesheet" href='./styles/sunmar.reset.css')
//- link(rel="stylesheet" href='./styles/owl.carousel.css')
link(rel="stylesheet" href='./styles/main_sunmar.css')
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")

script(src="./js/main_sunmar.js")