section.section.section--video
	.video-wrap
		.video.video--enabled
			.video__media
			<iframe id="video-iframe" width="560" height="315" src="https://www.youtube.com/embed/MvPiT17bo_o?rel=0&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			button.video__button(type="button" aria-label="Запустить видео")
				svg.video__button-svg(viewBox='0 0 124 124', fill='none', xmlns='http://www.w3.org/2000/svg')
					circle(cx="62" cy="62" r="61.5" stroke="white")
					circle.video__circle(cx="62" cy="62" r="50" fill="#8472B3")
					path(d="M79.6211 62.2822L53.6131 47.2664V77.2979L79.6211 62.2822Z" fill="white")
					//- circle(cx='93.0065', cy='93.4349', r='92.8729', fill='#ffffff', fill-opacity='1')
					//- path(d='M78.8144 63.9583L119.694 93.4348L78.8144 122.911V63.9583Z', fill='#000000')
	.btnn-row
		//- a(href="./files/Welcome-12-2020-rules.pdf" target="_blank").more-link Правила акции&nbsp;&nbsp;>		
		a(href="https://new.faberlic.com/register" target="_blank").video__btnn.btnn-primary Забрать подарок
			svg.btnn-primary__arrow(viewBox='0 0 31 10' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M29.8582 5.47504C30.0925 5.24073 30.0925 4.86083 29.8582 4.62651L26.0398 0.808138C25.8055 0.573824 25.4256 0.573824 25.1913 0.808138C24.957 1.04245 24.957 1.42235 25.1913 1.65667L28.5854 5.05078L25.1913 8.44489C24.957 8.67921 24.957 9.05911 25.1913 9.29342C25.4256 9.52773 25.8055 9.52773 26.0398 9.29342L29.8582 5.47504ZM5.9998e-08 5.65078L29.434 5.65078L29.434 4.45078L-5.9998e-08 4.45078L5.9998e-08 5.65078Z' fill='white')