.video

	&__wrap
		+md-block()
			margin-top 3em

	&__media
		background-image url(../img/content/video/video-poster2.jpg)

	&__button

		.video__circle
			fill #E8861B
		
		&:hover
			.video__circle
				fill #ca771c