// .dm-btn
//     display inline-flex
//     color #fff!important
//     font-weight 500
//     font-size em(24)!important
//     line-height (29/24em)!important
//     background-color #D7242A!important
//     border-radius (8/24em)
//     transition all 0.3s
//     text-decoration none
//     justify-content center
//     align-items center

//     @media screen and (min-width: 769px)
//         font-size em(20)
//         line-height (24/20em)

//     &:hover
//         background-color #c21c22!important

.dm-btn
    display inline-flex
    color #fff!important
    font-weight 500
    font-size em(20)!important
    line-height (24/20em)!important
    background-color #BE0027!important
    border-radius (10/20em)
    transition all 0.3s
    text-decoration none
    justify-content center
    align-items center
    padding (12/20em)
    min-width (240/20em)

    @media screen and (min-width: 769px)
        font-size em(20)
        line-height (24/20em)

    &:hover
        background-color #e03339!important