.dm-btn
    display inline-flex
    color #fff!important
    font-weight 400
    font-size em(24)!important
    line-height (24/24em)!important
    background-color #F0AB00!important
    border-radius (10/24em)
    transition all 0.3s
    text-decoration none
    justify-content center
    align-items center
    padding (18/24em) 0.5em
    min-width (210/24em)

    @media screen and (min-width: 769px)
        font-size em(20)
        line-height (20/20em)
        padding (14/20em) 0.5em
        min-width (232/20em)

    &:hover
        background-color #d69a00!important