.dm-social-2-wrap
    .dm-social-2__title Не знаете, что выбрать?#[br]#[span.dm-social-2__title__span Пишите в чат - мы на связи!]

    .dm-social-2.dm-social-2--bottom
        .dm-social-2__item
            a(href="https://wa.me/74952321206?text=Привет!" class="dm-social-2__link dm-social-2__link--wa" target="_blank") &nbsp;
                //- img(src="./img/content/coral/wa-icon.png", alt="wa")

        .dm-social-2__item
            a(href="https://vk.me/coraltravel" class="dm-social-2__link dm-social-2__link--vk" target="_blank") &nbsp;
                //- img(src="./img/content/coral/vk-icon.png", alt="vk")
                
        .dm-social-2__item
            a(href="https://t.me/coraltravel_telegrambot" class="dm-social-2__link dm-social-2__link--tg" target="_blank") &nbsp;
                //- img(src="./img/content/coral/tg-icon.png", alt="tg")
                
        .dm-social-2__item
            a(href="https://bcrw.apple.com/urn:biz:d3809fd0-e2fe-4027-b27e-ae34bf28e38c" class="dm-social-2__link dm-social-2__link--chat" target="_blank") &nbsp;
                //- img(src="./img/content/coral/chat-icon.png", alt="vk")