.dm-social-2-wrap
    .dm-social-2__title Подобрать тур#[br]или задать вопрос менеджеру

    .dm-social-2.dm-social-2--bottom
        .dm-social-2__item
            a(href="https://wa.me/74957301150?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!" class="dm-social-2__link dm-social-2__link--wa" target="_blank")
                img(src="./img/content/sunmar/wa-icon.png", alt="wa")

        .dm-social-2__item
            a(href="https://vk.com/sunmar" class="dm-social-2__link dm-social-2__link--vk" target="_blank")
                img(src="./img/content/sunmar/vk-icon.png", alt="vk")
                
        .dm-social-2__item
            a(href="https://t.me/sunmar_touroperator" class="dm-social-2__link dm-social-2__link--tg" target="_blank")
                img(src="./img/content/sunmar/tg-icon.png", alt="tg")
                
        .dm-social-2__item
            a(href="https://bcrw.apple.com/urn:biz:1ce8fd69-0445-4473-86ea-e50d2d65f409" class="dm-social-2__link dm-social-2__link--chat" target="_blank")
                img(src="./img/content/sunmar/chat-icon.png", alt="vk")