.dm-social-2
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between

    &--bottom
        margin-left auto
        margin-right auto
        padding-bottom 1em

    &-wrap
        padding em(20) em(40) em(80)

        @media screen and (min-width: 769px)
            max-width em(740)
            margin-left auto
            margin-right auto

    &__item
        margin em(16)

    &__link

        & > img
            transform scale(1)
            transition: all 0.3s;
            height auto
            width em(76)

        &:hover > img
            transform scale(1.1)

    &__title
        font-size: em(42);
        line-height: (50/42em);
        text-align: center;
        font-weight: 900;
        color: #000;
        margin-bottom (60/50em)